{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div id="header-container">
  <h1>Create User</h1>
</div>

<div id="form-container">
  <form id="surveyForm" method="POST" action="/create_user">
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text" name="first-name" placeholder="Enter a first name" required>
      <label for="first-name">Last Name</label>
      <input type="text" name="last-name" placeholder="Enter a last name" required>
      <label for="first-name">Image URL</label>
      <input type="url" name="img-url" placeholder="Provide an image of this user">
      <div class="button-container">
        <a href="/" class="cancel-button">Cancel</a>
        <button type="submit" class="add-button">Add</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

<!-- {% with messages = get_flashed_messages(with_categories=true) %}
{% for category, message in messages %}
<div class="flash-message {{ category }}">
  {{ message }}
</div>
{% endfor %}
{% endwith %}-->