{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block navbar %}
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/users">Users</a></li>
  <li><a href="/tags">Tags</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="post-container" class="item-container">
  <h1>{{ post.title }}</h1>
  <div id="post-content">
    {{post.content}}
  </div>
  <i>By {{ user.get_full_name() }} on {{ post.created_at.strftime("%a %b %d %Y, %I:%M%p") }}</i>

  <div id="tag-container">
    <b>Tags: </b>
    {% for tag in tags %}
    <span class="tag-in-post">{{ tag.name }}</span>
    {% endfor %}
  </div>
  <hr>
  <div class="post-button-container">
    <a href="/users/{{ user.id }}" class="cancel-button">Cancel</a>
    <a href="/posts/{{ post.id }}/edit" class="edit-button">Edit</a>
    <form action="/posts/{{ post.id }}/delete" method="POST">
      <input type="hidden" name="user_id">
      <button type="submit" class="delete-button">Delete</button>
    </form>
  </div>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
  <div class="flash-message {{ category }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endwith %}
</div>

{% endblock %}