{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block navbar %}
<ul>
  <li><a href="/" class="nav-item">Home</a></li>
  <li><a href="/users" class="nav-item">Users</a></li>
  <li><a href="/tags">Tags</a></li>
</ul>
{% endblock %}

{% block content %}

<div id="form-container" class="item-container">
  <h1>{{ action }} User</h1>
  <form id="surveyForm" method="POST" action="/users/new">
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input type="text" name="first-name" placeholder="Enter a first name" required>
      <label for="first-name">Last Name</label>
      <input type="text" name="last-name" placeholder="Enter a last name" required>
      <label for="first-name">Image URL</label>
      <input type="url" name="img-url" placeholder="Provide an image of this user">
      <div class="button-container">
        <a href="/users" class="cancel-button">Cancel</a>
        <button type="submit" class="{{ action_class }}">Confirm {{ action }}</button>
      </div>
    </div>
  </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
  <div class="flash-message {{ category }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endwith %}
</div>
{% endblock %}