{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block navbar %}
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/users">Users</a></li>
  <li><a href="/tags">Tags</a></li>
</ul>
{% endblock %}

{% block content %}
<div id="user-container" class="item-container">
  <div id="profile-pic">
    <img src="{{ user.image_url }}" alt="{{ user.get_full_name() }} profile pic" id="user-icon">
  </div>

  <div id="user-area">
    <div id="user-info" class="sub-container">
      <div id="user-name">
        <h1>{{ user.get_full_name() }}</h1>
        <div class="user-button-container">
          <a href="/users/{{ user.id }}/edit" class="edit-button">Edit</a>

          <form action="/users/{{ user.id }}/delete" method="POST">
            <input type="hidden" name="user_id">
            <button type="submit" class="delete-button">Delete</button>
          </form>
        </div>
      </div>
    </div>

    <div id="user-posts-container" class="sub-container">
      <div>
        <h3>Posts</h3>
        <ul id="posts-list">
          {% for post in posts%}
          <li>
            <a href="/posts/{{ post.id }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <a href="/users/{{ user.id }}/posts/new" class="add-button">Add Post</a>
  </div>

</div>
{% endblock %}